{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('change') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password" placeholder="New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="Vnew_password" placeholder="Verify New Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sumbit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
